@import "./variable";
body {
    margin: 0;
    font-family: "Roboto"
}

.wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-grow: 12;
    min-height: 100vh;
    .left-side {
        background: $white;
        display: flex;
        flex-direction: column;
        flex: 1.5;
        justify-content: space-between;
        border-right: 1px solid $grey;
        .logo {
            align-items: center;
            font-family: 'Merienda One', cursive;
            width: 100px;
            line-height: 100px;
            background: $secondary;
            justify-content: center;
            font-size: 44px;
            display: block;
            margin: 50px auto;
            text-align: center;
            color: $white;
            @include border-radius(50%)
        }
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                text-decoration: none;
                text-align: center;
                font-family: 'Roboto', cursive;
                line-height: 48px;
                color: darken($color: $grey, $amount: 50%);
                font-size: 14px;
                &::before {
                    content: "";
                    width: 50px;
                    height: 1px;
                    background: $grey;
                    display: inline-block;
                    float: left;
                    margin: 25px 0 0 0;
                }
                &::after {
                    content: "";
                    width: 50px;
                    height: 1px;
                    background: $grey;
                    display: inline-block;
                    float: right;
                    margin: 25px 0 0 0;
                }
                &:hover {
                    color: $secondary;
                    &::before {
                        background: $secondary !important;
                    }
                    &::after {
                        background: $secondary !important;
                    }
                }
                &.active {
                    color: $secondary;
                    &::before {
                        background: $secondary !important;
                    }
                    &::after {
                        background: $secondary !important;
                    }
                }
            }
        }
        .social-networks {
            height: 48px;
        }
    }
    .right-side {
        display: flex;
        flex: 10.5;
    }
}