<div class="about-container">
    <div class="page-header">
        <h1>About Me !</h1>
        <h5>I've written a few lines about myself</h5>
    </div>

    <div class="page-content">
        <p>
            It all started from a dream in childhood. I dreamed that I was typing professionally with a keyboard. I
            always thought about that dream and wanted to be a computer engineer one day. I bought my first computer in
            2006, I was very happy about it and always ran home after school.
        </p>
        <p>
            I also had a computer training book that I spent day and night reading and learning about Photoshop and
            other computer basics. Middle school was over and it was high school and time to select a field, Because of
            my laziness and my interest in computers, I failed my exams and had to take compensatory classes, Studying
            and prolonging the high school enrollment filled the school’s enrollment capacity for the computer field.
        </p>
        <p>I spent two years of my life in the electrical field. It was in my third year that I decided to give up
            electrical field and go back to my second year of high school and pursue a degree in computer graphics and
            succeeding in college and software engineering with very good grades.</p>
        <p>
            As time went by, I learned to work with WordPress and web design, and after hiring in a small company, I
            decided to drop out of college. The company was doing projects for another company based in New Zealand and
            over time I was able to become a Front-end developer, I also got to do some back-end coding invovle with C#
            and PHP, it took years for me to improve my skills and
            currently working for a larger company called Demis.
        </p>
        <p>So far, I have achieved my dreams, I hope you can reach your dreams too.</p>
        <!-- <p class="fa-text">
            همه چیز از یک خواب در دوران کودکی شروع شد.خواب میدیم خیلی حرفه ای دارم با کیبورد تایپ میکنم.همیشه به اون
            خواب فکر میکردم و دوست داشتم یک روز مهندس کامپیوتر بشم.اولین کامپیوترم رو سال ۲۰۰۶ خریدم.خیلی خوشحال بودم و
            از مدرسه تا خونه رو معمولا با دویدن طی میکردم.یک کتاب خودآموز کامپیوتر هم داشتم که روز و شب میخوندمش و
            فتوشاپ و مبانی دیگر رو ازش یاد میگرفتم.راهنمایی تموم شد و زمان انتخاب رشته رسید.به خاطر تنبلی و کامپیوتر
            مردود شدم توی امتحانات و مجبور بودم شهریور هم درس بخونم.درس خواندن و طول کشیدن ثبت نام دبیرستان باعث شد تمام
            ظرفیت های مدرسه ها برای رشته کامپیوتر پر بشه و من دو سال از عمرم رو الکتروتکنیک یا همون برق بخونم.سال سوم
            برق دیگه دل رو به دریا زدم و این رشته رو رها کردم و دوباره به دوم دبیرستان برگشتم و توی هنرستان گرافیک
            رایانه ای رو شروع کردم و با نمرات خیلی خوبی به رشته نرم افزار در دانشگاه رفتم.وردپرس و طراحی صفحات وب یاد
            گرفتم و استخدام شدم و دانشگاه رو رها کردم.استخدام شرکتی شدم که برای نیوزلند کار میکرد و اونجا شدم توسعه
            دهنده رابط کاربری (Front-end developer) سالها گذشت تا مهارت کسب کردم و الان در شرکت دمیس دارم فعالیت
            میکنم.تا اینجا به آرزوم رسیدم.امیدوارم شما هم به آرزوهاتون برسین
        </p> -->
    </div>
</div>